<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/">
      </ion-back-button>
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Llevar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre Pasajero 1</ion-card-title>
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-subtitle>500mts de tu lugar de destino</ion-card-subtitle>
      <ion-button color="success">Aceptar</ion-button>
      <ion-button color="danger">Rechazar</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre Pasajero 2</ion-card-title>
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-subtitle>1km de tu lugar de destino</ion-card-subtitle>
      <ion-button color="success">Aceptar</ion-button>
      <ion-button color="danger">Rechazar</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre Pasajero 3</ion-card-title>
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-subtitle>200mts de tu lugar de destino</ion-card-subtitle>
      <ion-button color="success">Aceptar</ion-button>
      <ion-button color="danger">Rechazar</ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
